@page "/calculatorBands"




@inject Lrr.Shared.LrrState LrrState

<PageTitle>Land Registration Reform Simple Calculator</PageTitle>

<EditForm Model="@LrrState.InputData" >

<table style="width:100%" >
    <tr>
        <td colspan="2" >
            <RegistrationInput LrrState="LrrState" RefreshScreen="Refresh"   />
        </td>
    </tr>
    <tr>
        <td colspan="2" >
            <br />
            <AuctionDetails LrrState="LrrState" RefreshScreen="Refresh"   />
        </td>
    </tr>
    
        @if (@LrrState.InputData.Decision == Lrr.Shared.DecisionEnum.GiveUpToHighestBid)
        {
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <GiveUpPaymentSchedule LrrState="LrrState" />
                </td>
            </tr>
        }
        @if (@LrrState.InputData.Decision == Lrr.Shared.DecisionEnum.MatchHighestBid)
        {
            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="2">
                    <MatchPaymentSchedule LrrState="LrrState" />
                </td>
            </tr>
        }
    <tr>
        <td colspan="2"><ConfigurationBands LrrState="LrrState" RefreshScreen="Refresh" ></ConfigurationBands></td>
    </tr>        
</table>



</EditForm>

@code{

    protected override void OnInitialized()
    {
        base.OnInitialized();
        LrrState.Calculator = new Lrr.Shared.CalculatorBands();
    }
    

    private void Refresh()
    {
        LrrState.CalculateValues();
        InvokeAsync(() =>
                {

                    StateHasChanged();
                });
    }
}