@page "/"
@using Lrr.Models;
@inject Lrr.Shared.LrrState LrrState


<PageTitle>Land Registration Reform Simple Calculator</PageTitle>

<h3>“If all of your dreams came true, would they just change you or would they change the world?”</h3>
        <h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ― Cleo Wade</h4>



<NavLink class="nav-link" href="simpleCalculator">Simple Calculator</NavLink>
<NavLink class="nav-link" href="simpleCalculatorStepValue">Simple Calculator with step auction value</NavLink>

<H3> Videos:</H3>
<ul>
    <li>
        <a href="https://www.youtube.com/watch?v=wXPBNq0mb7I&list=PL0p_U_-Or0_P31P751VvT81OwYEDX0KyC&index=2" target="_blank">Main video</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=TBtxBxYsUvU&list=PL0p_U_-Or0_P31P751VvT81OwYEDX0KyC&index=3" target="_blank">Faq video</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=-SiythpXx1U&list=PL0p_U_-Or0_P31P751VvT81OwYEDX0KyC&index=4" target="_blank">Main video</a>
    </li>
    
</ul>

<H3> Documents:</H3>
<ul>
    <li>
        <a href="https://medium.com/@@thaithavetri/land-registration-reform-principle-b267413b7365" target="_blank">Principle</a>
    </li>
    <li>
        <a href="https://medium.com/@@thaithavetri/plan-details-cfc7f89c01a4" target="_blank">Plan detail</a>
    </li>
    <li>
        <a href="https://medium.com/@@thaithavetri/scenarios-land-registration-reform-c6c0e0b8047a" target="_blank">Scenarios</a>
    </li>
    
</ul>

<img src=/iceberg.jpg height=200px width="200px"  />

@code{

    private void DisplayEdiConfig()
    {
        LrrState.EditConfig = true;
        Refresh();
    }

    private void Refresh()
    {
        LrrState.CalculateValues();
        InvokeAsync(() =>
                {

                    StateHasChanged();
                });
    }
}
