@page "/"
@using Lrr.Models;
@using Microsoft.AspNetCore.WebUtilities;
@using Microsoft.Extensions.Primitives;
@inject Lrr.Shared.LrrState LrrState


<PageTitle>Land Registration Reform Simple Calculator</PageTitle>



<H3> Proposal documents:</H3>
<ul>
    <li>
        <a href="https://medium.com/@@thaithavetri/land-registration-reform-principle-b267413b7365" target="_blank">Principle</a>
    </li>
    <li>
        <a href="https://medium.com/@@thaithavetri/plan-details-cfc7f89c01a4" target="_blank">Plan detail</a>
    </li>
    <li>
        <a href="https://medium.com/@@thaithavetri/scenarios-land-registration-reform-c6c0e0b8047a" target="_blank">Scenarios</a>
    </li>
    
</ul>

<H3> Calculators:</H3>
<ul>
    <li>
        <NavLink class="nav-link" href="simpleCalculator">Simple Calculator</NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="simpleCalculatorStepValue">Simple Calculator with step auction value</NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="calculatorBands">Calculator with Bands </NavLink>
    </li>
    <li>
        <NavLink class="nav-link" href="calculatorCurve">Calculator with Curve </NavLink>
    </li>
</ul>

<H3> Videos:</H3>
<ul>
    <li>
        <a href="https://www.youtube.com/watch?v=wXPBNq0mb7I&list=PL0p_U_-Or0_P31P751VvT81OwYEDX0KyC&index=2" target="_blank">Main video</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=TBtxBxYsUvU&list=PL0p_U_-Or0_P31P751VvT81OwYEDX0KyC&index=3" target="_blank">Faq video</a>
    </li>
    <li>
        <a href="https://www.youtube.com/watch?v=-SiythpXx1U&list=PL0p_U_-Or0_P31P751VvT81OwYEDX0KyC&index=4" target="_blank">Technical details</a>
    </li>
    
</ul>



<img src=/iceberg.jpg height=200px width="200px"  />

<h6 >“If all of your dreams came true, would they just change you or would they change the world?” ― Cleo Wade</h6>

@code{
    [Inject]
    public NavigationManager navManager { get; set; }


    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        var key = "calcName";
        StringValues valueFromQueryString;
        var uri = navManager.ToAbsoluteUri(navManager.Uri);
        var foundQueryParameter = QueryHelpers.ParseQuery(uri.Query).TryGetValue(key,  out valueFromQueryString);

        if (foundQueryParameter)
        {
            var strPage =  Convert.ToString(valueFromQueryString);

            if (!string.IsNullOrWhiteSpace(strPage))
            {
                if(strPage.Contains("StepValue", StringComparison.InvariantCultureIgnoreCase))
                {
                    navManager.NavigateTo("/simpleCalculatorStepValue");
                }
                else if(strPage.Contains("Bands", StringComparison.InvariantCultureIgnoreCase))
                {
                    navManager.NavigateTo("/calculatorBands");
                }
                else if(strPage.Contains("Curve", StringComparison.InvariantCultureIgnoreCase))
                {
                    navManager.NavigateTo("/calculatorCurve");
                }
                else 
                {
                    navManager.NavigateTo("/simpleCalculator");
                }

            }
           
        }

        
    }

    

    private void DisplayEdiConfig()
    {
        LrrState.EditConfig = true;
        Refresh();
    }

    private void Refresh()
    {
        LrrState.CalculateValues();
        InvokeAsync(() =>
                {

                    StateHasChanged();
                });
    }
}
