@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <h3>“If all of your dreams came true, would they just change you or would they change the world?”</h3>
        <h4> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ― Cleo Wade</h4>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
